<div class = "container jumbotron">
  <div class="col-lg-2 colm-2">
    <div class="navs">Second item</div>
    <div class="navs">Second item</div>
    <div class="navs">Third item</div>
    <div class="navs">Fourth item</div>
  </div>
  <div class = "panel col-lg-10 col-body">
    <div class = "panel-heading col-body-heading"><h4 class="panel-title"><%= @user.firstname %>'s Time Logs</h4></div>
      <table class = " panel-body table table-responsive table-bordered">
        <tr>
          <th>Date</th>
          <th>Log in</th>
          <th>Log out</th>
        </tr>

          <% @user.trackers.each do |track| %>
<!--          <tr>-->
            <td> <%= track.created_at.strftime("%b %d, %Y") %></td>
            <td> <%= track.loggin_in.strftime("%H:%M %p") %></td>
<!--            <td> <%#= track.loggin_out.strftime("%H:%M %p").to_s %></td>-->

          </tr>

          <% end %>

      </table>
      <div class = "page-navi">
        <p><%= link_to 'Back to profile', user_path(current_user) %></p>
      </div>
  </div>
</div>