<div class="home-container">
  <% if !user_signed_in? %>
<!--  <div class = "center">-->
<!--    <div class = "time">-->
<!--      <%#=t = Time.now-->
<!--         t.strftime("Printed on %m/%d/%Y")   #=> "Printed on 04/09/2003"-->
         t.strftime("%I:%M %p")%>
<!--    </div>-->
<!--  </div>-->
  <div class = "tagline">
    <h1>
      Fast and reliable time keeping and attendance system
    </h1>
    <button>Try it now</button>
  </div>

    <% else %>
    <div class = "center_logged">
      <div class = "time-logged">
<!--        <p>Hello <%#= current_user.firstname %> !</p>-->
        <%=t = Time.now
           t.strftime("Printed on %m/%d/%Y")   #=> "Printed on 04/09/2003"
           t.strftime("%I:%M %p")%>
      </div>
      <% if @last_log.loggin_out == "No log" || @last_log.loggin_out.nil? %>
        <p id = "log-time">Logged In at: <%= @last_log.loggin_in.strftime("%I:%M %p") %></p>

      <div class = "the-button">
        <form action="/trackers/timeout" method="POST">
          <button type = 'submit' id = "loggin-button">Time Out</button>

        </form>
      </div>
        <% elsif @last_log.loggin_in.nil? == false %>
        <p id = "log-time">Logged out at: <%= @last_log.loggin_in.strftime("%I:%M %p") %></p>

        <div class = "the-button">
          <form action="/trackers/timein" method="POST">
            <button type = 'submit' id = "loggin-button">Time In</button>

          </form>
        </div>
        <% else %>
        <p id = "log-time">None of the above</p>
          <p><%= @last_log.loggin_in.strftime("%I:%M %p") %></p>
          <div class = "the-button">
            <form action="/trackers/timein" method="POST">
              <button type = 'submit' id = "loggin-button">Time In</button>

            </form>
          </div>
        <% end %>
<!--      <div class = "the-button">-->
<!--        <button id = "login-button"><%#= link_to 'Time in', trackers_timein_path %></button>-->
<!--      </div>-->

</div>
    <% end %>

</div>


<!--Original page-->

<!--<div class="home-container">-->
  <%# if !user_signed_in? %>
<!--  <div class = "tagline">-->
<!--    <h1>-->
<!--      Fast and reliable time keeping and attendance system-->
<!--    </h1>-->
<!--    <button><%#= link_to "Try it now!", new_user_registration_path %></button>-->
<!--  </div>-->

    <%# else %>
<!--    <div class = "center_logged">-->
<!--      <div class = "time-logged">-->
<!--        <p>Hello <%#= current_user.firstname %> !</p>-->
<!--        <%#=t = Time.now-->
<!--           t.strftime("Printed on %m/%d/%Y")   #=> "Printed on 04/09/2003"-->
           t.strftime("%I:%M %p")%>
<!--      </div>-->
<!--      <div class = "the-button">-->
<!--      <button><%#= link_to 'Time in', trackers_timein_path %></button>-->
<!--      </div>-->

<!--</div>-->
    <%# end %>

<!--</div>-->
