.navbar-brand{
   color: #fff;
   font-size: 35px;
   font-weight: bold;
 }

.navi{
  float: right;
}
.nav_link a{
  color: #fff!important;
}
.nav_link a:hover{
  color: rgba(70, 40, 36, 0.96) !important;
  font-weight: bold;
  font-size: 14px;
}
.navbar{
  margin-bottom: 0px;
}

.homepage h1{
  margin: 0px;
}
.home-container{
  background: url(homepage.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 900px;
  opacity: 0.8;
}
.home-container h1{
  margin-top: 0px;
  margin-bottom: 0px;
}
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: inherit;
  text-align: center;
  border-radius: 11px;
  opacity: 1;
  opacity: 1;
  background-color: #428bca;
}
the-content{
  min-height: 1500px;
}
.panel-default>.panel-heading{
  color: #333;
  background-color: #f5f5f5;
}
.panel-default {
  border-color: #ddd;
  margin-top: 30px;
}
.panel.panel-default.devise-bs.container {
  padding-left: 0px;
  padding-right: 0px;
}
.panel-body {
  padding: 30px;
}
.others {
  padding-left: 30px;
  padding-bottom: 20px;
}
.panel-heading h4{
  font-size: 23px;
  text-align: center;
}
.alert-success{
  margin-bottom: 0px;
}
.center_logged, .center-below {
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

}
.center, .center-below {
  position: fixed;
  top: 11%;
  left: 89%;
  transform: translate(-50%, -50%);

}
.time-logged {
  font-size: 140px;
  color: #fff;
}
.time-logged p{
  font-size: 51px;
}
.time {
  font-size: 90px;
  color: #fff;
}
footer{
  text-align: center;
}
.the-footer{
  padding-top: 20px;
}
div.tagline {
  position: fixed;
  top: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
div.the-button {
  position: fixed;
  top: 113%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.tagline h1{
  color: #fff;
  font-size: 60px;
  margin-bottom: 15px;
}
.tagline button, .the-button button{
  color: #428bca;
  font-size: 36px;
  background-color: #fff;
  text-decoration: none;
  border-radius: 16px;
}
.the-button button:hover{
  color: #fff;
  background-color: #428bca;

}
.the-button button a:hover{
  text-decoration: none;
  color: #fff;
}
.panel-default {
  border-color: #ddd;
  margin-top: 30px;
  max-width: 500px;
}

.table-container {
  position: fixed;
  top: 33%;
  left: 52%;
  transform: translate(-50%, -50%);
  text-align: left;
  width: 592px;
  border-radius: 12px;
  height: 388px;
  padding-top: 23px;
  background-color: white;
}
.user-info td {
  font-size: 20px;
  padding-left: 60px;
  padding-right: 5px;
  color: #584747;
}

.user-info th {
  text-align: center;
  font-size: 16px;
  padding-bottom: 4px;
  padding-right: 5px;
}
table {
  border-collapse: collapse;
  padding-bottom: 10px;
}

th{
  font-size: 19px;
}
table, th, td {
  border: 3px solid #3f4f56;
  text-align: center;
}

p.user-head {
  text-align: center;
  font-size: 43px;
  background-color: #d0c8c8;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}
.panel{
  margin-top: 30px;
  padding-bottom: 15px;
}
.panel-heading {
  font-size: 30px;
  padding-bottom: 0px;
  padding-top: 28px;
}
.col-body{
  margin-top: 0px;
  min-height: 257px;
}
.col-body-heading{
  padding-bottom: 30px;
  border-bottom: 2px solid #e4e4e4;
}

.page-navi{
  margin-top: 15px
}
.navs {
  background-color: #f7f7f7;
  padding: 7px;
  font-size: 17px;
  font-weight: bold;
  margin: 8px;
  border-radius: 14px;
}
.colm-2 {
  background-color: #bacada;
  height: 257px;
  padding-top: 27px;
  border-right: 2px solid #757575;
  border-top-left-radius: 12px;
  border-bottom-left-radius: 12px;
}

.form-body{
  background-color: #428bca;
}
.form-body label{
  color: #fff;
}
.form-head{
  color:#fff;
}
#log-time{
  font-size: 25px;
  color: #02173e;
}